<!-- *******  HTML code for the modal window for export to the csv file ******* -->
<div id="myModal_export_in_csv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">E X P O R T  Products in CSV file</h4>
            </div>
            <div class="modal-body">
                <form id="export_csv" action="{% url 'mywal:export' %}" method="post" class="form-inline"> {% csrf_token %}
                    <div class="form-group">
                    </div>
                    <div class="modal-footer">
                        <button id="export_in_csv" type="submit" class="btn btn-primary">EXPORT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>