{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Apps MyWal{% endblock %}

{% block nav_sidebar %}

    <div class="main-sidebar">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">{{ user.username }} - MENU</li>
                <li><a href="{% url 'mywal:home' %}"><span>Home</span></a></li>
                <li><a href="{% url 'mywal:user_settings' %}"><span>Settings</span></a></li>
                <li><a href="#" id="button_modal_add_product"><span>Add Product</span></a></li>
                <li><a href="#" id="export_in_csv"><span>Export Product in CSV</span></a></li>
                <li><a href="#" id="import_from_csv"><span>Import Product from CSV</span></a></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

{% include 'upc_request_form.html' %}
{% include 'export_in_csv.html' %}
{% include 'import_from_csv.html' %}

{# ------ DATATABLE PRODUCTS ------- #}

    <div class="box">
        <div class="box-header"></div>
        <div class="box-body">
            <table id="table_of_products" class="table table-hover table-bordered ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UPC</th>
                    <th>Image Product</th>
                    <th>Title</th>
                    <th>Brand Name</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>In_stock</th>
                    <th>Free Shipping</th>
                    <th>Created</th>
{#                    <th>Update</th>#}
                    <th>Delete</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="box-footer"></div>
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}

