{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Apps MyWal{% endblock %}


{% block content %}

    <form id="upc_id" method="post" class="form-inline"> {% csrf_token %}
        <div class="form-group">

            <lable class="title"> {{ name }}035000521019</lable>
            <lable class="title">UPC: </lable>
            <input id="input_upc" name="input_upc" type="text" class="form-control" placeholder="for example: 035000521019" maxlength="64">
        </div>
        <div class="form-group">
            <button id="upload" type="submit" class="btn btn-success">Upload</button>
        </div>
     <div>
        <lable class="title"> {{ name }} </lable>

    </div>
    </form>



    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



    {#    <form id="upc_request" method="post" class="form-inline"> {% csrf_token %}#}
{#        <div class="form-group">#}
{#            <lable class="title">UPC: </lable>#}
{#            <input id="upc" name="{{ form.upc.html_name }}" type="text" value="{{ request.POST.upc }}" class="form-control" placeholder="for example: 035000521019" maxlength="64">#}
{#        </div>#}
{#        <button id="upload" type="submit" class="btn btn-success">Upload</button>#}
{#        {% if form.upc.errors %}#}
{#            <div class="form-group alert alert-danger" style="padding: 7px;" role="alert">#}
{#                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                <span class="sr-only">Error:</span>#}
{#                Enter a valid UPC#}
{#            </div>#}
{#        {% elif form.upc.errors == False %}#}
{#              <lable class="title">{{ upc }}</lable>#}
{##}
{#        {% endif %}#}
{#    </form>#}
{#    <lable class="title">{{ name }}</lable>#}

{% endblock %}

