{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container valiform">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="form-horizontal" method="post" style="text-align: left"> {% csrf_token %}
                    <h3>Log In To Your Account</h3>
{#                    {{ form.as_p }}#}
{#                    <div class="form-group">#}
{#                        <div class="col-lg-4">#}
{#                            <span class="form-error">{{ form.name.errors }}</span>#}
{#                            <input type="text" placeholder="Username" name="{{ form.name.name }}" class="form-control"#}
{#                                value="{{ request.POST.name }}"#}
{#                            >#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <div class="col-lg-4">#}
{#                            <span class="form-error">{{ form.pwd.errors }}</span>#}
{#                            <input type="text" placeholder="Password" name="{{ form.pwd.name }}" class="form-control"#}
{#                                value="{{ request.POST.pwd }}"#}
{#                            >#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">Sing In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{#    <div class="general-container">#}
{#        <div class="container top-container">#}
{#            <div class="row">#}
{#                <div class="col-lg-8 col-lg-offset-2">#}
{#                    <h3 class="title">Сайт в разработке!<br>#}
{#                    Оставьте свои координаты, мы с вами свяжемся позже...</h3>#}
{#                    <div>#}
{#                        <form action="" method="post" class="form-inline text-center">#}
{#                            <div class="form-group">#}
{#                                <lable class="title">Ваше имя: </lable>#}
{#                                <input type="text" name="{{ form.name.name }}" class="form-control">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label class="title">Ваш email: </label>#}
{#                                <input type="email" name="{{ form.email.name }}" class="form-control">#}
{#                            </div>#}
{##}
{#                            <button type="submit" class="btn btn-primary btn-orange">Отправить</button>#}
{##}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="footer">#}
{#                        <h4 class="title"> {{ current_date }} <sup>&reg;</sup></h4>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}