{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-signin">
        {% if user.is_authenticated %}
            <h3 class="form-signin-heading">Hi, {{ user.username }}!</h3>
            <a class="btn btn-primary btn-lg" href="/home">In Account</a>

{#            {% include 'home.html' %}#}
{#            {% url 'home' %}#}
        {% else %}
            <a href="/login" class="btn btn-lg btn-primary btn-block">Log In</a>
            <br>
            <a class="create-account" href="/register">Create an Account?</a>
        {% endif %}
    </div>
{% endblock %}