<!-- *******  HTML code for the modal window for adding a product to the database ******* -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add product</h4>
            </div>
            <div class="modal-body">
                <form id="upc_id" action="{% url 'mywal:upc_request' %}" method="post" class="form-inline"> {% csrf_token %}
                    <div class="form-group">
                        <lable class="title">Input UPC: </lable>
                        <input id="input_upc" name="input_upc" type="text" class="form-control" placeholder="for example: 035000521019" maxlength="64">
                        <span id="add_product_ok" style="color: #4cae4c" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></span>
                        <span id="add_product_error" style="color: red" class="glyphicon glyphicon-remove hidden" aria-hidden="true"></span>
                    </div>
                    <div class="modal-footer">
                        <button id="upload" type="submit" class="btn btn-primary">Upload product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>